# Environment variables
.env

# Visual Studio Code settings
.vscode/

# Roo Code workspace settings
.roo/

# Internal git files
.git/
.github/

# Devcontainer build files
.devcontainer/
Dockerfile

# Node modules
/node_modules/
/.node_modules
