# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE/Editor
.vscode/
*.swp
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Data
/data/
outputs/

# Docker
.Dockerfile*
docker-compose*.yml

# Kubernetes manifests
yaml