# Core Libraries
numpy==1.26.4
pandas==2.1.4
pyarrow==16.1.0
scipy==1.13.1

# Machine Learning
torch==2.2.2
# Pinned Ray to a version compatible with gymnasium>=0.29.1
ray[rllib]==2.9.3
gymnasium==0.28.1 # Pinned to the version required by ray[rllib]==2.9.3
pandas-ta==0.3.14b0

# Utilities
pyyaml==6.0 # Pinned to a version compatible with alpaca-trade-api
tqdm==4.67.1
structlog==25.4.0
yfinance==0.2.58
requests==2.32.4
beautifulsoup4==4.12.3
psutil==5.9.8
aiohttp==3.10.11 # Pinned to a version compatible with alpaca-trade-api
empyrical==0.5.5
riskfolio-lib==7.0.1
quantstats==0.0.64
alpaca-trade-api==3.1.0
ccxt==4.4.82
stockstats==0.6.5
pytorch-lightning==2.5.2
pytorch-forecasting==1.4.0
optuna==3.6.2
feedparser==6.0.11
vaderSentiment==3.3.2
nltk==3.9.1
typer==0.16.0
backtrader==1.9.78.123
exchange_calendars==4.10.1
alpaca-py==0.42.0
alpha_vantage==3.0.0
nats-py==2.6.0
pycares>=4.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
